<!doctype html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Travel Planner</title>
</head>

<body>
  <!-- <header> -->
  <!--   <div class="">Logo</div> -->
  <!--   <div class="">navigation</div> -->
  <!-- </header> -->

  <main>
    <h1>Travel Planner</h1>
    <div id="tripsHeadline">
      <h3>My Trips:</h3>
      <!-- <button id="addTrip">✚ add trip</button> -->
    </div>
    <section id="trips"></section>

    <section id="tripInput">
      <div class="inputContainer">
        <label for="location"> My trip to: </label>
        <!-- Remove value: -->
        <input value="Hamburg" id="location" name="location" type="text" placeholder="Enter your location" />
      </div>
      <div class="inputContainer">
        <label for="date">Departing:</label>
        <!-- <input onfocus="(this.type='date')" id="date" name="date" placeholder="DD/MM/YYYY" /> -->
        <!-- Remove this line: -->
        <input value="2024-09-12" type="date" id="date" name="date" placeholder="DD/MM/YYYY" />
      </div>

      <div>
        <button id="saveTrip">save trip</button>
        <!-- <button>remove trip</button> -->
      </div>
    </section>
  </main>

  <!-- <footer> -->
  <!--   <p>This is a footer</p> -->
  <!-- </footer> -->

  <script>
    // Check that service workers are supported
    // Code from https://webpack.js.org/guides/progressive-web-application/
    if ("serviceWorker" in navigator) {
      window.addEventListener("load", () => {
        navigator.serviceWorker
          .register("/service-worker.js")
          .then((registration) => {
            console.log("SW registered: ", registration);
          })
          .catch((registrationError) => {
            console.log("SW registration failed: ", registrationError);
          });
      });
    }
  </script>
</body>

</html>
